{% extends 'base.html.twig' %}

{% block title %}Cash Desk!
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Your Cart</h1>
	</div>


    {% if item | length > 0 %}

        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Article</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                </tr>
            </thead>

            <tbody>
  				
    {% for item in item %}

        <tr class="table-dark">
            <th scope="row">Active</th>
				<td>{{ item.article.designation }}</td>
				<td>{{ item.article.price }}</td>
				<td>{{ item.quantity }}</td>
                <td>{{ item.article.price * item.quantity }}</td>
                <td>
					<a href="{{ path('cart_remove', {'id': item.article.id}) }}" class="btn btn-danger btn-sm">
					<i class="fas fa-trash"></i>
					</a>
				</td>
        </tr>
    {% endfor %}

            <tfoot>
				<tr>
					<td colspan="3" class="text-right">Total :</td>
					<td>{{ total }}</td>
					<td></td>
				</tr>
			</tfoot>
		</table>

	{% else %}

		<p>Surprise! It is empty!</p>

	{% endif %}

{% endblock %}
