{% extends 'base.html.twig' %}

{% block title %}Cash Desk!{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Your Cart</h1>
	</div>


    {% if item | length > 0 %}

        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Article</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                </tr>
            </thead>

            <tbody>
  				
    {% for item in item %}

        <tr class="table-dark">
            <th scope="row"></th>
				<td>{{ item.article.designation }}</td>
				<td>{{ item.article.price }} €</td>
				<td>{{ item.quantity }}</td>
                <td>{{ item.article.price * item.quantity }} €</td>
                <td>
					<a href="{{ path('cart_remove', {'id': item.article.id}) }}" class="btn btn-danger btn-sm">
					<i class="fas fa-trash"></i>
					</a>
				</td>
        </tr>
    {% endfor %}

            <tfoot class="table-dark">
				<tr>
					<td colspan="4" class="text-right">Total : </td>
					<td>{{ total }} €</td>
					<td></td>
				</tr>
			</tfoot>
		</table>

	{% else %}

		<p>Surprise! It is empty!</p>

	{% endif %}

    
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Hallo meine lieben Ghule</div>
            <div class="card-body">
                <h4 class="card-title"><img src="https://cdn.pixabay.com/photo/2016/12/07/17/29/girl-1889940_960_720.png" class="d-block mx-auto" width=250 alt="illustration"></h4>
                <p class="card-text">Danke viel von Ihrem Besuch.</p>
            </div>
    </div>
{% endblock %}
